*{
    color: white;
    text-decoration: none;
    /* font-size: 1.1rem; */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}

.cabecalho {
    background-color: #333;

    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: solid #4faddb;

    box-sizing: content-box;
}

.logo {
    height: 80px;
    padding: 15px;
}

.logo img{
    height: 100%;
    /* padding-left: 10px; */
}

.menu-toogle {
    /* display: none; */
    float: right;
    color: #eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    /* justify-self: flex-start; */
}

.menu a {
    padding: 15px;

}

.menu a:hover, .menu a.selected {
    background-color: #4faddb;
    color: #000;
}

.botao {
    padding: 5px 15px;
    border-radius: 15px;
    margin: 10px
}

.destaque {
    background-color: #fc3a3a;
    color: #fff;
    
}

.autenticacao {
    /* display: inline-block; */
    margin-left: auto;
    padding: 0 20px;
}



@media (max-width: 755px) {
    .autenticacao {
        display: none;
    }
}

@media (max-width: 600px){
    .menu {
        display: none;
    }

}

@media (min-width: 601px) {
    
    .menu-toogle {
        display: none;
    }
}