*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
    margin: 10px;

    font-family: 'Verdana', sans-serif;
}

.example {
    border: solid 2px black;
}

.curso {
    float: left;
    /* display: inline-block; */
    vertical-align: top;
    width: 265px;
    height: 300px;
    margin: 10px 22px;
    padding: 5px;
    border: solid 1px lightgray;

    box-shadow: 0px 0px 11px 0px #615f61;

}

.curso img {
    width: 100%;
    max-height: 50%;
}

.curso-info {
    padding: 10px;
    height: 90px;
    overflow: hidden;
}

.curso-info h4 {
    font-size: 1.2rem;
    /* font-weight: 600; */
}
.curso p {
    margin: 15px 0;
}

.curso-preco {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */

    float: right;
    padding: 20px 10px;
}

.preco-de {
    color: firebrick;
    text-decoration: line-through;
    /* margin: 0 5px; */
}

.preco-por {
    color: green;
    font-size: 1.3rem;
    font-weight: bold;
    
}